modules = ["nodejs-20", "web", "bash", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/oliva: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow]]
name = "artifacts/oliva: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=25654 BASE_PATH=/ pnpm --filter @workspace/oliva run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-16e04672-5027-4623-934e-4af1131142"

[userenv]

[userenv.shared]
ADMIN_EMAILS = "oliva@cafe.fun,oliva2@cafe.fun,oliva3@cafe.fun"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25654
externalPort = 3000
