modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/oliva: web"

[[workflows.workflow]]
name = "artifacts/oliva: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=25654 BASE_PATH=/ pnpm --filter @workspace/oliva run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-4087897e-5e61-4c36-b386-b808f7ccdc88"

[userenv]
